:root {
  --Primary_900: #006e54ff;
  --Secondary_500: #bf98feff;
  --Secondary_400: #cfb3ffff;
  --Neutral_100: #f7f8f9ff;
  --Neutral_500: #8590a2ff;
  --Primary_200: #caffe9ff;
  --Secondary_800: #691fd1ff;
  --Primary_100: #e9fff7ff;
  --Secondary_200: #f0e8ffff;
  --Neutral_200: #f1f2f4ff;
  --Neutral_300: #dcdfe4ff;
  --Neutral_700: #626f86ff;
  --Neutral_400: #b3b9c4ff;
  --Neutral_600: #758195ff;
  --Secondary_600: #9453f9ff;
  --Primary_300: #9affd9ff;
  --Primary_400: #5afbc7ff;
  --Secondary_300: #e4d4ffff;
  --Primary_800: #008b69ff;
  --Neutral_900: #172b4dff;
  --Neutral_800: #44546fff;
  --Secondary_900: #5b1faaff;
  --Primary_700: #00ae7fff;
  --Secondary_700: #7d30edff;
  --Primary_500: #31efb8ff;
  --Secondary_100: #f9f5ffff;
  --Primary_600: #00d59aff;
}