:root {
  --primary_900: rgba(0, 110, 84, 1);
  --secondary_500: rgba(191, 152, 254, 1);
  --secondary_400: rgba(207, 179, 255, 1);
  --neutral_100: rgba(247, 248, 249, 1);
  --neutral_500: rgba(133, 144, 162, 1);
  --primary_200: rgba(202, 255, 233, 1);
  --secondary_800: rgba(105, 31, 209, 1);
  --primary_100: rgba(233, 255, 247, 1);
  --secondary_200: rgba(240, 232, 255, 1);
  --neutral_200: rgba(241, 242, 244, 1);
  --neutral_300: rgba(220, 223, 228, 1);
  --neutral_700: rgba(98, 111, 134, 1);
  --neutral_400: rgba(179, 185, 196, 1);
  --neutral_600: rgba(117, 129, 149, 1);
  --secondary_600: rgba(148, 83, 249, 1);
  --primary_300: rgba(154, 255, 217, 1);
  --primary_400: rgba(90, 251, 199, 1);
  --secondary_300: rgba(228, 212, 255, 1);
  --primary_800: rgba(0, 139, 105, 1);
  --neutral_900: rgba(23, 43, 77, 1);
  --neutral_800: rgba(68, 84, 111, 1);
  --secondary_900: rgba(91, 31, 170, 1);
  --primary_700: rgba(0, 174, 127, 1);
  --secondary_700: rgba(125, 48, 237, 1);
  --primary_500: rgba(49, 239, 184, 1);
  --secondary_100: rgba(249, 245, 255, 1);
  --primary_600: rgba(0, 213, 154, 1);
}