:root {
  --primary_900: #006e54;
  --secondary_500: #bf98fe;
  --secondary_400: #cfb3ff;
  --neutral_100: #f7f8f9;
  --neutral_500: #8590a2;
  --primary_200: #caffe9;
  --secondary_800: #691fd1;
  --primary_100: #e9fff7;
  --secondary_200: #f0e8ff;
  --neutral_200: #f1f2f4;
  --neutral_300: #dcdfe4;
  --neutral_700: #626f86;
  --neutral_400: #b3b9c4;
  --neutral_600: #758195;
  --secondary_600: #9453f9;
  --primary_300: #9affd9;
  --primary_400: #5afbc7;
  --secondary_300: #e4d4ff;
  --primary_800: #008b69;
  --neutral_900: #172b4d;
  --neutral_800: #44546f;
  --secondary_900: #5b1faa;
  --primary_700: #00ae7f;
  --secondary_700: #7d30ed;
  --primary_500: #31efb8;
  --secondary_100: #f9f5ff;
  --primary_600: #00d59a;
}