.EasyFest\:_Design_System_\&_Landing_page--🖥_Title_Medium {
  line-height: 1.2000000000000002;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 54px;
  letter-spacing: 0px;
  font-family: "Work Sans";
}

.EasyFest\:_Design_System_\&_Landing_page--📱_Title_Medium {
  line-height: 1.2000000000000002;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 0px;
  font-family: "Work Sans";
}

.EasyFest\:_Design_System_\&_Landing_page--🖥_Title_Large {
  line-height: 1.1;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 85px;
  letter-spacing: 0px;
  font-family: "Work Sans";
}

.EasyFest\:_Design_System_\&_Landing_page--Body_Large {
  line-height: 1.2;
  font-style: normal;
  text-transform: none;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0px;
  font-family: "Work Sans";
}

.EasyFest\:_Design_System_\&_Landing_page--📱_Title_Small {
  line-height: 1.2000000000000002;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0px;
  font-family: "Work Sans";
}

.EasyFest\:_Design_System_\&_Landing_page--🖥_Title_Small {
  line-height: 1.2000000000000002;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 0px;
  font-family: "Work Sans";
}

.EasyFest\:_Design_System_\&_Landing_page--Body_Small {
  line-height: 1.2;
  font-style: normal;
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
  font-family: "Work Sans";
}

.EasyFest\:_Design_System_\&_Landing_page--📱_Title_Large {
  line-height: 1;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 44px;
  letter-spacing: 0px;
  font-family: "Work Sans";
}

.EasyFest\:_Design_System_\&_Landing_page--Body_Medium {
  line-height: 1.2;
  font-style: normal;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0px;
  font-family: "Work Sans";
}